<%- include('./partials/header.ejs') %>

<div class="container">
  <h1>MY REVIEWS</h1>
  <div class="line"></div>
  <div class="sort">
    <a href="">Latest</a>
    <a href="">Watched Date</a>
    <a href="">Rating</a>
  </div>

  <% reviews.forEach(review => { %>
  <div class="review-card">
    <div class="img-container">
      <img src="<%= review["image_url"] %>" alt="<%= review.title %> cover"
      height="200px">
    </div>

    <div class="review-container">
      <div class="title">
        <h2><%= review.title %></h2>
      </div>
      <div class="rating-container">
        <p class="text-rating">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="yellow"
            class="bi bi-star-fill"
            viewBox="0 0 16 16"
          >
            <path
              d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"
            />
          </svg>
          <%= review.rating %> / 10
        </p>
      </div>

      <p class="review-comments"><%= review.comments %></p>
      <a href="/review/<%= review.id %>">Read more</a>
    </div>
  </div>

  <%}); %>
</div>

<%- include('./partials/footer.ejs') %>
